<template id="">
  <div class="app">
    <div class="">
      <router-view/>
    </div>
  </div>
</template>
<script type="text/javascript">
  export default{
    name: 'app'
  }
</script>
<style lang="css"></style>
