<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">ReMAP</div>
         <div class="loginbox-social">
            <div class="social-title ">PEASE LOGIN WITH YOUR EMAIL AND PASSWORD</div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <!-- <div class="or">OR</div> -->
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="Email" />
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="Password" />
        </div>
        <div class="loginbox-forgot">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="loginbox-submit">
            <input type="button" class="btn btn-primary btn-block" value="Login">
        </div>
        <div class="loginbox-signup">
          <router-link :to="{name: 'signup'}">Sign Up</router-link>
        </div>
    </div>
    <!-- <div class="logobox"> -->
    </div>
</div>
