<div class="register-container animated fadeInDown">
    <div class="registerbox bg-white">
        <div class="registerbox-title">Signup</div>

        <div class="registerbox-caption ">Please fill in your information</div>
        <div class="registerbox-textbox">
            <input type="text" class="form-control" placeholder="Username" />
        </div>
        <div class="registerbox-textbox">
            <input type="password" class="form-control" placeholder="Enter Password" />
        </div>
        <div class="registerbox-textbox">
            <input type="password" class="form-control" placeholder="Confirm Password" />
        </div>
        <!-- <hr class="wide" /> -->
        <div class="registerbox-textbox">
            <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="registerbox-textbox">
            <input type="text" class="form-control" placeholder="Family" />
        </div>
        <div class="registerbox-textbox">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 padding-right-10">
                    <input type="text" class="form-control" placeholder="Month" />
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3 no-padding padding-right-10">
                    <input type="text" class="form-control" placeholder="Day" />
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3 no-padding-left">
                    <input type="text" class="form-control" placeholder="Year" />
                </div>
            </div>
        </div>
        <div class="registerbox-textbox no-padding-bottom">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-primary" checked="checked">
                    <span class="text darkgray">I agree to the Company <a class="themeprimary">Terms of Service</a> and Privacy Policy</span>
                </label>
            </div>
        </div>
        <div class="registerbox-submit">
            <input type="button" class="btn btn-primary pull-right" value="SUBMIT">
        </div>
    </div>
    <!-- <div class="logobox"> -->
    </div>
</div>
