<template id="">
  <div class="settings">
    <div class="">
      this is our settings
    </div>
  </div>
</template>
<script type="text/javascript">
  export default{
    name:'settings'
  }
</script>
<style lang="css"></style>
